<header>
<h1>Productos</h1>
<hr>
<a [routerLink]="['/add']" class="btn btn-outline-primary btn-block">Agregar Producto</a>
<hr>
</header>

<body>
<div class= "card-columns">

    <div class="card" *ngFor="let licor of licores; let i = index">
     
        
        <img class ="card-img-top img-fluid" [src]="licor.img" class="card-img-top" [alt]="licor.nombre">
        <div class="card-block">
          <h5 class="card-title">{{licor.nombre}}</h5>
          <p class="card-text">{{licor.bio}}</p>
          <p class="card-text">{{licor.precio | currency}}</p>
          <hr>
          <button [routerLink]="['change',i]">Modificar</button>
          <hr>
          <button (click)="onDelete(licor)">Eliminar</button>
          <hr>

          <a [routerLink]="['trago',i]"  class="btn btn-outline-primary btn-block">Ver mas...</a>
        
        





        </div>
      </div>




</div>


</body>