<header>
<h1>Licores</h1>
<hr>
  
</header>

<body>
<div class= "card-columns">

    <div class="card" *ngFor="let licor of licores; let i = index">

        <img class ="card-img-top img-fluid" [src]="licor.img" class="card-img-top" [alt]="licor.nombre">
        <div class="card-block">
          <h5 class="card-title">{{licor.nombre}}</h5>
          <p class="card-text">{{licor.bio}}</p>
          <p class="card-text">{{licor.venta}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <a [routerLink]="['trago',i]"  class="btn btn-outline-primary btn-block">Ver mas...</a>
        
        





        </div>
      </div>




</div>


</body>