
<h1>Productos</h1>
<div [ngSwitch] = "tip()">
<div *ngSwitchCase = "'admin'">
<hr>
<a [routerLink]="['/add']" class="btn btn-outline-primary btn-block">Agregar Producto</a>
<hr>
</div>


<div class= "card-columns">

    <div class="card" *ngFor="let licor of licores; let i = index">
     
        
        <img class ="card-img-top img-fluid" [src]="licor.img" class="card-img-top" [alt]="licor.nombre">
        <div class="card-block">
          <h5 class="card-title">{{licor.name}}</h5>
          <p class="card-text">{{licor.description}}</p>
          <p class="card-text">{{licor.price | currency}}</p>

          <div *ngSwitchCase = "'admin'">
          <hr>
          <button class="btn btn-outline-success" [routerLink]="['change',licor.id]">Modificar</button>
          <hr>
          <button class="btn btn-outline-danger" (click)="onDelete(licor.id)">Eliminar</button>
          <hr>
        </div>
        
          <a [routerLink]="['item',i]"  class="btn btn-outline-primary btn-block">Ver mas...</a>
        
        





        </div>
      </div>





    
</div>