<h1>{{trago.nombre}}</h1>
<hr>


<div class="row">

<div class="col-md-4">

    <img [src] = "trago.img" class="img-fluid" [alt]="trago.nombre">
<br><br>
<a [routerLink]="['/licores']" class="btn btn-outline-danger btn-block">Regresar</a>

</div>

<div class="col-md-8" [ngSwitch] = "tip()">
    <h3>{{trago.nombre}}</h3>
    <hr>
    <p>{{trago.bio}}</p> 
    <hr>
    <h2>{{trago.precio | currency}}</h2>

    <div *ngSwitchCase = "'usuario'">
    <a [routerLink]="['/']" class="btn btn-outline-danger btn-block">Comprar</a>
   </div>
   <div *ngSwitchCase = "'admin'">
    <a [routerLink]="['/']" class="btn btn-outline-danger btn-block">Comprar</a>
   </div>


</div>


</div>