<form action="" (ngSubmit)="onSubmite()">
    <h2>Iniciar Sesion</h2>
    <hr>

    <div class="form-group">
        <label for="formGroupExampleInput2">Correo Electronico</label>
        <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Contraseña</label>
        <input type="password" class="form-control" name="pass" placeholder="***** "[(ngModel)]="pass">
      </div>


      <input type="submit" value="Entrar">
  </form>








